@charset "utf-8";
/* CSS Document */



    .cf{
      zoom:1;
    }

    /*-------------------------------------*/	
    
    .form-wrapper {
		display:table;
        width: 470px;
        padding: 15px;
        margin: 0 auto;
        background: #444;
        background: rgba(0,0,0,.2);
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        -moz-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
        box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    }
    
    .form-wrapper input {
        width: 330px;
        padding: 10px 5px;
        float: left;    
        font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
        border: 0;
        background: #eee;
        -moz-border-radius: 3px 0 0 3px;
        -webkit-border-radius: 3px 0 0 3px;
        border-radius: 3px 0 0 3px;      
    }
    
    .form-wrapper input:focus {
        outline: 0;
        background: #fff;
        -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
        -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
        box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    }
    
    .form-wrapper input::-webkit-input-placeholder {
       color: #999;
       font-weight: normal;
       font-style: italic;
    }
    
    .form-wrapper input:-moz-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    }
    
    .form-wrapper input:-ms-input-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    }    
    
    .form-wrapper button {
		overflow: visible;
        position: relative;
        float: right;
        border: 0;
        padding: 0;
        cursor: pointer;
        height: 40px;
        width: 110px;
        font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
        color: #fff;
        text-transform: uppercase;
        background: #d83c3c;
        -moz-border-radius: 0 3px 3px 0;
        -webkit-border-radius: 0 3px 3px 0;
        border-radius: 0 3px 3px 0;      
        text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
    }   
      
    .form-wrapper button:hover{		
        background: #e54040;
    }	
      
    .form-wrapper button:active,
    .form-wrapper button:focus{   
        background: #c42f2f;    
    }
    
    .form-wrapper button:before {
        content: '';
        position: absolute;
        border-width: 8px 8px 8px 0;
        border-style: solid solid solid none;
        border-color: transparent #d83c3c transparent;
        top: 12px;
        left: -6px;
    }
    
    .form-wrapper button:hover:before{
        border-right-color: #e54040;
    }
    
    .form-wrapper button:focus:before{
        border-right-color: #c42f2f;
    }    
    
    .form-wrapper button::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
.byline p{
  text-align:center;
  color:#c6c6c6;
  font: bold 18px Arial, Helvetica, Sans-serif;
  text-shadow: 0 2px 3px rgba(0,0,0,0.1);
}

.byline p a{
  color:#d83c3c;
  text-decoration:none;
}
.box-tranform {transition: transform .2s;}
.box-tranform:hover {transform: scale(1.1);}
.plist { margin:0px; padding:0px;}
.plist li { display:block; float:none; margin-bottom:4px}
.plist li a { display:block; background:#f8f8f8; border:solid 1px #fff; padding:6px 12px; box-shadow:0px 1px 3px -1px rgba(0, 0, 0, 0.2); border-radius:4px; transition:all 0.2s;}
.plist li a:hover { background:#f1f1f1;}
.plist li a .fa { margin-right:20px;}
.tbl-pad-2 tr td { padding:2px!important; vertical-align:middle!important;}

.service-box { position:relative; overflow:hidden;}
.service-box .overlay-shade {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: #333;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.service-box .icons-holder {
    position: absolute;
    top: 0%;
    left: 15%;
    display: inline-block;
    width: 70%;
    height: 36px;
    vertical-align: middle;
    z-index: 13;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.service-box .icons-holder .icons-holder-inner {
    position: relative;
    display: block;
	width:100%;
    vertical-align: middle;
}
.service-box .icons-holder .icons-holder-inner a {
	display:block;
	width:100%;
	padding:6px;
	text-align:center;
	color:#fff;
	font-size:16px;
	font-weight:700;
	font-family: 'Yantramanav', sans-serif;
	border:solid 1px #eee;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.service-box:hover .overlay-shade {
    opacity: 0.9;
    filter: alpha(opacity=90);
	position: absolute;
display: inline-block;
vertical-align: middle;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 12;
-webkit-transition: opacity 0.3s ease-in-out;
-o-transition: opacity 0.3s ease-in-out;
transition: opacity 0.3s ease-in-out;
}
.service-box:hover .icons-holder {
    top: 45%;
}
.service-box:hover .icons-holder .icons-holder-inner a {
    opacity: 1;
    filter: alpha(opacity=1);
}

.icon-box { position:relative; overflow:hidden;}
.icon-box .overlay-shade {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: #333;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.icon-box .icons-holder {
    position: absolute;
    top: 0%;
    left: 15%;
    display: inline-block;
    width: 70%;
    height: 36px;
    vertical-align: middle;
    z-index: 13;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.icon-box .icons-holder .icons-holder-inner {
    position: relative;
    display: block;
	width:100%;
    vertical-align: middle;
}
.icon-box .icons-holder .icons-holder-inner a {
	display:block;
	width:100%;
	padding:6px;
	text-align:center;
	color:#fff;
	font-size:16px;
	font-weight:700;
	font-family: 'Yantramanav', sans-serif;
	border:solid 1px #eee;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.icon-box:hover .overlay-shade {
    opacity: 0.9;
    filter: alpha(opacity=90);
	position: absolute;
display: inline-block;
vertical-align: middle;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 12;
-webkit-transition: opacity 0.3s ease-in-out;
-o-transition: opacity 0.3s ease-in-out;
transition: opacity 0.3s ease-in-out;
}
.icon-box:hover .icons-holder {
    top: 30%;
}
.icon-box:hover .icons-holder .icons-holder-inner a {
    opacity: 1;
    filter: alpha(opacity=1);
}

.input-group .form-control { z-index:0;}
.input-group .form-control:focus { z-index:0;}
.input-group-btn:last-child > .btn { z-index:0;}
.display-inline { display:inline;}
.footer p { color:#ccc;}
.footer a {
    color: #ccc;
}
.dropdown-menu { border-radius:0px; margin-top:-2px;}
.dropdown-menu li a { padding-top:6px; padding-bottom:6px;}
.dropdown-menu li { border-bottom:dashed 1px #ccc!important;}

@media only screen and (max-width: 767px) {
    .form-wrapper {
		display:table;
        width: 100%;
}
    .form-wrapper input {
        width: 80%;
}
    .form-wrapper button {
        width: 20%;
        font: bold 12px/20px 'lucida sans', 'trebuchet MS', 'Tahoma';
    }   
}

















