@charset "utf-8";
/* CSS Document */







.nav-tabs > li > a {
color: #fff;
background-color: #f68200;
border-color: #f68200;    border-radius: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    padding: 10px 30px;
    margin-right: 0;
}

.nav-tabs > li.active a, .nav-tabs > li.active a:hover, .nav-tabs > li.active a:focus {
    color: #fff;
    background-color: #f15205;
}










