/* --------------------------------------
COLOR1: #512316
COLOR2: #97B714
----------------------------------------- */
/*
 * background: theme-color
 * -----------------------------------------------
*/
.post .entry-meta.meta-absolute {
  background-color: rgba(72, 47, 48, 0.9) !important;
}
.tab-slider .nav.nav-pills a:hover,
.tab-slider .nav.nav-pills a.active,
.custom-nav-tabs > li > a:hover,
.widget .tags a:hover,
.progress-item .progress-bar,
.small-title .title::after,
.drop-caps.colored-square p:first-child:first-letter,
.drop-caps.colored-rounded p:first-child:first-letter,
.working-process.theme-colored a,
.widget.dark .tags a:hover,
.blog-posts .post .entry-content .post-date.right,
.horizontal-tab-centered .nav-pills > li > a:hover,
.horizontal-tab-centered .nav-pills > li.active > a,
.horizontal-tab-centered .nav-pills > li.active > a:hover,
.horizontal-tab-centered .nav-pills > li.active > a:focus,
.owl-theme.dot-theme-colored .owl-controls .owl-dot span,
.portfolio-filter a.active,
.portfolio-filter a:hover,
.pagination.theme-colored li.active a,
.section-title .both-side-line::after,
.section-title .both-side-line::before,
.section-title .top-side-line::after,
.section-title .left-side-line::before,
.section-title .right-side-line::before,
.product .tag-sale,
.owl-theme .owl-dots .owl-dot.active span,
.blog-posts .post.style1 .entry-header .entry-date.entry-date-absolute,
.title-dots span {
  background: #f68200;
}
.cd-timeline-simple .cd-timeline-block .cd-timeline-img {
  background: #f9890b !important;
}
.ui-state-highlight {
  background: #f9890b !important;
  color: #fff !important;
}
/*
 * text: theme-color
 * -----------------------------------------------
*/
.menuzord-menu > li > .megamenu .megamenu-row li:hover > a,
.menuzord-menu > li > .megamenu .megamenu-row .post a:hover,
.menuzord-menu > li > .megamenu .megamenu-row li:hover > a i,
.menuzord-menu > li > .megamenu .megamenu-row .post a:hover i,
.blog-posts .post .entry-meta li i,
.widget .twitter-feed li::after,
.widget .address li i,
.icon-box.box-style1.practice-style3 i,
.icon-box.services-style1:hover .heading,
.horizontal-contact-widget .widget::before,
.small-title i,
.drop-caps.text-colored p:first-child:first-letter,
.schedule-box:hover .schedule-details .title a,
.widget.dark .nav-tabs li.active a,
.pagination.theme-colored li a,
.pager.theme-colored a,
.widget .post-title a:hover,
.donation-form .form-group label {
  color: #f68200;
}
.star-rating span::before {
  color: #f9890b !important;
}
/*
 * border: theme-color
 * -----------------------------------------------
*/
.line-bottom:after,
.widget .line-bottom:after,
.widget .line-bottom:after,
.pager.theme-colored a,
.owl-carousel.owl-nav-top .owl-controls .owl-nav .owl-prev,
.owl-carousel.owl-nav-top .owl-controls .owl-nav .owl-next {
  border: 1px solid #f68200;
}
.owl-theme .owl-dots .owl-dot span {
  border-color: #f68200;
}
.icon-box.box-style1.practice-style3:hover .icon-wrapper::after {
  border-color: #f9890b transparent transparent;
}
.section-title.title-border {
  border-left: 4px solid #f68200;
}
/* border-top-color */
.cssload-tri {
  border-top: 27px solid #f68200;
}
/* border-right-color */
.border-right-red {
  border-right: 1px solid #f68200;
}
.section-title.title-border.title-right {
  border-right: 4px solid #f68200;
}
/* border-bottom-color */
.border-bottom {
  border-bottom: 1px solid #f68200;
}
.cssload-tri.cssload-invert {
  border-bottom: 27px solid #f68200;
}
/* box-shadow */
/* Dropdown Search Form */
.dropdown-search-form-content .dropdown-search-form .input-group {
  border-color: #f68200;
}
.dropdown-search-form-content .dropdown-search-form button[type="submit"] {
  background: #f68200;
}
.dropdown-search-form-content .dropdown-search-form button[type="submit"] i {
  color: #fff;
}
/* Modern Header */
.modern-header.modern-header-theme-colored .header-nav .header-nav-wrapper:not(.scroll-to-fixed-fixed) nav {
  background: #f68200;
}
.modern-header.modern-header-theme-colored .header-nav .header-nav-wrapper.scroll-to-fixed-fixed {
  background: #f68200;
}
/* -------- Text Theme Color ---------- */
.text-theme-colored {
  color: #dd2d0c !important;
}
.text-hover-theme-colored:hover {
  color: #f9890b !important;
}
ul.list.theme-colored li:before,
ul.list.theme-colored.angle-double-right li:before,
ul.list.theme-colored.angle-right li:before,
ul.list.theme-colored.check-circle li:before,
ul.list.theme-colored.check li:before,
.list-icon.theme-colored li i {
  color: #f68200;
}
/* -------- border-theme-color ---------- */
.border-theme-colored {
  border-color: #f9890b !important;
}
.border-1px-theme-colored {
  border: 1px solid #f68200;
}
/* border-left-color */
blockquote.theme-colored {
  border-left: 3px solid #f68200;
}
blockquote.bg-theme-colored {
  border-left: 3px solid #291b1b;
  color: #fff;
}
blockquote.bg-theme-colored footer {
  color: #eeeeee;
}
blockquote.gray.bg-theme-colored {
  background-color: #eeeeee !important;
  border-left: 3px solid #f68200;
  color: #f68200;
}
blockquote.gray.bg-theme-colored footer {
  color: #777777;
}
/* -------- bg-theme-color ---------- */
.bg-theme-colored {
  background-color: #f9890b !important;
}
.bg-hover-theme-colored:hover {
  background: #f9890b !important;
  border-color: #f9890b !important;
  color: #fff !important;
}
.bg-hover-theme-colored:hover h1,
.bg-hover-theme-colored:hover h2,
.bg-hover-theme-colored:hover h3,
.bg-hover-theme-colored:hover h4,
.bg-hover-theme-colored:hover h5,
.bg-hover-theme-colored:hover h6,
.bg-hover-theme-colored:hover p,
.bg-hover-theme-colored:hover a,
.bg-hover-theme-colored:hover i {
  color: #fff !important;
}
.list-icon.theme-colored.square li i,
.list-icon.theme-colored.rounded li i {
  background: #f68200;
}
/* -------- lighter/darker bg Color ---------- */
.bg-theme-colored-lighter2 {
  background-color: #4e3334 !important;
}
.bg-theme-colored-lighter3 {
  background-color: #513536 !important;
}
.bg-theme-colored-lighter4 {
  background-color: #543738 !important;
}
.bg-theme-colored-lighter5 {
  background-color: #57393a !important;
}
.bg-theme-colored-lighter6 {
  background-color: #5b3b3c !important;
}
.bg-theme-colored-lighter7 {
  background-color: #5e3d3e !important;
}
.bg-theme-colored-lighter8 {
  background-color: #613f40 !important;
}
.bg-theme-colored-lighter9 {
  background-color: #644143 !important;
}
.bg-theme-colored-darker2 {
  background-color: #422b2c !important;
}
.bg-theme-colored-darker3 {
  background-color: #3f292a !important;
}
.bg-theme-colored-darker4 {
  background-color: #3c2728 !important;
}
.bg-theme-colored-darker5 {
  background-color: #392526 !important;
}
.bg-theme-colored-darker6 {
  background-color: #352324 !important;
}
.bg-theme-colored-darker7 {
  background-color: #322122 !important;
}
.bg-theme-colored-darker8 {
  background-color: #2f1f20 !important;
}
.bg-theme-colored-darker9 {
  background-color: #2c1d1d !important;
}
/* -------- Transparent bg Color ---------- */
.bg-theme-colored-transparent-9 {
  background-color: rgba(72, 47, 48, 0.9) !important;
}
.bg-theme-colored-transparent-8 {
  background-color: rgba(72, 47, 48, 0.8) !important;
}
.bg-theme-colored-transparent-7 {
  background-color: rgba(72, 47, 48, 0.7) !important;
}
.bg-theme-colored-transparent-6 {
  background-color: rgba(72, 47, 48, 0.6) !important;
}
.bg-theme-colored-transparent-5 {
  background-color: rgba(72, 47, 48, 0.5) !important;
}
.bg-theme-colored-transparent-4 {
  background-color: rgba(72, 47, 48, 0.4) !important;
}
.bg-theme-colored-transparent-3 {
  background-color: rgba(72, 47, 48, 0.3) !important;
}
.bg-theme-colored-transparent-2 {
  background-color: rgba(72, 47, 48, 0.2) !important;
}
.bg-theme-colored-transparent-1 {
  background-color: rgba(72, 47, 48, 0.1) !important;
}
.bg-theme-colored-transparent {
  background-color: rgba(72, 47, 48, 0.5) !important;
}
/* -------- layer overlay Color ---------- */
.layer-overlay {
  /* .overlay-theme-colored */
}
.layer-overlay.overlay-theme-colored::before {
  background-color: rgba(72, 47, 48, 0.8);
}
.layer-overlay.overlay-theme-colored-1::before {
  background-color: rgba(72, 47, 48, 0.1);
}
.layer-overlay.overlay-theme-colored-2::before {
  background-color: rgba(72, 47, 48, 0.2);
}
.layer-overlay.overlay-theme-colored-3::before {
  background-color: rgba(72, 47, 48, 0.3);
}
.layer-overlay.overlay-theme-colored-4::before {
  background-color: rgba(72, 47, 48, 0.4);
}
.layer-overlay.overlay-theme-colored-5::before {
  background-color: rgba(72, 47, 48, 0.5);
}
.layer-overlay.overlay-theme-colored-6::before {
  background-color: rgba(72, 47, 48, 0.6);
}
.layer-overlay.overlay-theme-colored-7::before {
  background-color: rgba(72, 47, 48, 0.7);
}
.layer-overlay.overlay-theme-colored-8::before {
  background-color: rgba(72, 47, 48, 0.8);
}
.layer-overlay.overlay-theme-colored-9::before {
  background-color: rgba(72, 47, 48, 0.9);
}
/*
 * btn-default: theme-color
 * -----------------------------------------------
*/
.btn-default.btn-theme-colored {
  color: #f68200;
  background-color: #fff;
  border-color: #f68200;
}
.btn-default.btn-theme-colored:focus,
.btn-default.btn-theme-colored.focus {
  color: #f68200;
  background-color: #e6e6e6;
  border-color: #000000;
}
.btn-default.btn-theme-colored:hover {
  color: #f68200;
  background-color: #e6e6e6;
  border-color: #231717;
}
.btn-default.btn-theme-colored:active,
.btn-default.btn-theme-colored.active,
.open > .dropdown-toggle.btn-default.btn-theme-colored {
  color: #f68200;
  background-color: #e6e6e6;
  border-color: #231717;
}
.btn-default.btn-theme-colored:active:hover,
.btn-default.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-default.btn-theme-colored:hover,
.btn-default.btn-theme-colored:active:focus,
.btn-default.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-default.btn-theme-colored:focus,
.btn-default.btn-theme-colored:active.focus,
.btn-default.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-default.btn-theme-colored.focus {
  color: #f68200;
  background-color: #d4d4d4;
  border-color: #000000;
}
.btn-default.btn-theme-colored:active,
.btn-default.btn-theme-colored.active,
.open > .dropdown-toggle.btn-default.btn-theme-colored {
  background-image: none;
}
.btn-default.btn-theme-colored.disabled:hover,
.btn-default.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-default.btn-theme-colored:hover,
.btn-default.btn-theme-colored.disabled:focus,
.btn-default.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-default.btn-theme-colored:focus,
.btn-default.btn-theme-colored.disabled.focus,
.btn-default.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-default.btn-theme-colored.focus {
  background-color: #fff;
  border-color: #f68200;
}
.btn-default.btn-theme-colored .badge {
  color: #fff;
  background-color: #f68200;
}
.btn-default.btn-theme-colored:hover,
.btn-default.btn-theme-colored:active,
.btn-default.btn-theme-colored:focus {
  background-color: #f68200;
  border-color: #f68200;
  color: #fff;
}
/*
 * btn-border
 * -----------------------------------------------
*/
.btn-border.btn-theme-colored {
  color: #f68200;
  background-color: #fff;
  border-color: #f68200;
}
.btn-border.btn-theme-colored:focus,
.btn-border.btn-theme-colored.focus {
  color: #f68200;
  background-color: #e6e6e6;
  border-color: #000000;
}
.btn-border.btn-theme-colored:hover {
  color: #f68200;
  background-color: #e6e6e6;
  border-color: #231717;
}
.btn-border.btn-theme-colored:active,
.btn-border.btn-theme-colored.active,
.open > .dropdown-toggle.btn-border.btn-theme-colored {
  color: #f68200;
  background-color: #e6e6e6;
  border-color: #231717;
}
.btn-border.btn-theme-colored:active:hover,
.btn-border.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-border.btn-theme-colored:hover,
.btn-border.btn-theme-colored:active:focus,
.btn-border.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-border.btn-theme-colored:focus,
.btn-border.btn-theme-colored:active.focus,
.btn-border.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-border.btn-theme-colored.focus {
  color: #f68200;
  background-color: #d4d4d4;
  border-color: #000000;
}
.btn-border.btn-theme-colored:active,
.btn-border.btn-theme-colored.active,
.open > .dropdown-toggle.btn-border.btn-theme-colored {
  background-image: none;
}
.btn-border.btn-theme-colored.disabled:hover,
.btn-border.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-border.btn-theme-colored:hover,
.btn-border.btn-theme-colored.disabled:focus,
.btn-border.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-border.btn-theme-colored:focus,
.btn-border.btn-theme-colored.disabled.focus,
.btn-border.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-border.btn-theme-colored.focus {
  background-color: #fff;
  border-color: #f68200;
}
.btn-border.btn-theme-colored .badge {
  color: #fff;
  background-color: #f68200;
}
.btn-border.btn-theme-colored:hover,
.btn-border.btn-theme-colored:active,
.btn-border.btn-theme-colored:focus {
  background-color: #291b1b;
  border-color: #291b1b;
  color: #fff;
}
/*
 * btn-dark
 * -----------------------------------------------
*/
.btn-dark.btn-theme-colored {
  color: #fff;
  background-color: #f68200;
  border-color: #f68200;
}
.btn-dark.btn-theme-colored:focus,
.btn-dark.btn-theme-colored.focus {
  color: #fff;
  background-color: #291b1b;
  border-color: #000000;
}
.btn-dark.btn-theme-colored:hover {
  color: #fff;
  background-color: #291b1b;
  border-color: #231717;
}
.btn-dark.btn-theme-colored:active,
.btn-dark.btn-theme-colored.active,
.open > .dropdown-toggle.btn-dark.btn-theme-colored {
  color: #fff;
  background-color: #291b1b;
  border-color: #231717;
}
.btn-dark.btn-theme-colored:active:hover,
.btn-dark.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-dark.btn-theme-colored:hover,
.btn-dark.btn-theme-colored:active:focus,
.btn-dark.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-dark.btn-theme-colored:focus,
.btn-dark.btn-theme-colored:active.focus,
.btn-dark.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-dark.btn-theme-colored.focus {
  color: #fff;
  background-color: #140d0d;
  border-color: #000000;
}
.btn-dark.btn-theme-colored:active,
.btn-dark.btn-theme-colored.active,
.open > .dropdown-toggle.btn-dark.btn-theme-colored {
  background-image: none;
}
.btn-dark.btn-theme-colored.disabled:hover,
.btn-dark.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-dark.btn-theme-colored:hover,
.btn-dark.btn-theme-colored.disabled:focus,
.btn-dark.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-dark.btn-theme-colored:focus,
.btn-dark.btn-theme-colored.disabled.focus,
.btn-dark.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-dark.btn-theme-colored.focus {
  background-color: #f68200;
  border-color: #f68200;
}
.btn-dark.btn-theme-colored .badge {
  color: #f68200;
  background-color: #fff;
}
/*
 * btn-gray
 * -----------------------------------------------
*/
.btn-gray.btn-theme-colored {
  color: #f68200;
  background-color: #674345;
  border-color: #674345;
}
.btn-gray.btn-theme-colored:focus,
.btn-gray.btn-theme-colored.focus {
  color: #f68200;
  background-color: #f68200;
  border-color: #1a1111;
}
.btn-gray.btn-theme-colored:hover {
  color: #f68200;
  background-color: #f68200;
  border-color: #422b2c;
}
.btn-gray.btn-theme-colored:active,
.btn-gray.btn-theme-colored.active,
.open > .dropdown-toggle.btn-gray.btn-theme-colored {
  color: #f68200;
  background-color: #f68200;
  border-color: #422b2c;
}
.btn-gray.btn-theme-colored:active:hover,
.btn-gray.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-gray.btn-theme-colored:hover,
.btn-gray.btn-theme-colored:active:focus,
.btn-gray.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-gray.btn-theme-colored:focus,
.btn-gray.btn-theme-colored:active.focus,
.btn-gray.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-gray.btn-theme-colored.focus {
  color: #f68200;
  background-color: #322122;
  border-color: #1a1111;
}
.btn-gray.btn-theme-colored:active,
.btn-gray.btn-theme-colored.active,
.open > .dropdown-toggle.btn-gray.btn-theme-colored {
  background-image: none;
}
.btn-gray.btn-theme-colored.disabled:hover,
.btn-gray.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-gray.btn-theme-colored:hover,
.btn-gray.btn-theme-colored.disabled:focus,
.btn-gray.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-gray.btn-theme-colored:focus,
.btn-gray.btn-theme-colored.disabled.focus,
.btn-gray.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-gray.btn-theme-colored.focus {
  background-color: #674345;
  border-color: #674345;
}
.btn-gray.btn-theme-colored .badge {
  color: #674345;
  background-color: #f68200;
}
/*
 * btn-primary: theme-color
 * -----------------------------------------------
*/
.btn-theme-colored {
  color: #fff;
  background-color: #f68200;
  border-color: #f68200;
}
.btn-theme-colored:focus,
.btn-theme-colored.focus {
  color: #fff;
  background-color: #291b1b;
  border-color: #000000;
}
.btn-theme-colored:hover {
  color: #fff;
  background-color: #291b1b;
  border-color: #231717;
}
.btn-theme-colored:active,
.btn-theme-colored.active,
.open > .dropdown-toggle.btn-theme-colored {
  color: #fff;
  background-color: #291b1b;
  border-color: #231717;
}
.btn-theme-colored:active:hover,
.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-theme-colored:hover,
.btn-theme-colored:active:focus,
.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-theme-colored:focus,
.btn-theme-colored:active.focus,
.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-theme-colored.focus {
  color: #fff;
  background-color: #140d0d;
  border-color: #000000;
}
.btn-theme-colored:active,
.btn-theme-colored.active,
.open > .dropdown-toggle.btn-theme-colored {
  background-image: none;
}
.btn-theme-colored.disabled:hover,
.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-theme-colored:hover,
.btn-theme-colored.disabled:focus,
.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-theme-colored:focus,
.btn-theme-colored.disabled.focus,
.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-theme-colored.focus {
  background-color: #f68200;
  border-color: #f68200;
}
.btn-theme-colored .badge {
  color: #f68200;
  background-color: #fff;
}
/*
 * btn-transparent
 * -----------------------------------------------
*/
.btn-transparent {
  background-color: transparent;
  color: #fff;
}
.btn-transparent.btn-theme-colored {
  background-color: transparent;
}
.btn-transparent.btn-dark {
  background-color: #111111;
  border-color: #111111;
}
.btn-transparent.btn-dark:hover {
  background-color: #000000;
  border-color: #000000;
}
.btn-transparent.btn-dark.btn-theme-colored {
  background-color: #f68200;
  border-color: #f68200;
}
.btn-transparent.btn-dark.btn-theme-colored:hover {
  background-color: #291b1b;
  border-color: #291b1b;
}
.btn-transparent.btn-border {
  background-color: transparent;
  border-color: #eeeeee;
}
.btn-transparent.btn-border:hover {
  background-color: #eeeeee;
  color: #000;
}
.btn-transparent.btn-border.btn-theme-colored {
  background-color: transparent;
  border-color: #f68200;
}
.btn-transparent.btn-border.btn-theme-colored:hover {
  background-color: #f68200;
  color: #fff;
}
.btn-gray.btn-transparent {
  background-color: #d3d3d3;
  color: #333333;
}
.btn-gray.btn-transparent:hover {
  background-color: #ececec;
  color: #1a1a1a;
}
.btn-gray.btn-transparent.btn-theme-colored {
  background-color: #674345;
  color: #fff;
}
.btn-gray.btn-transparent.btn-theme-colored:hover {
  background-color: #291b1b;
  color: #291b1b;
}
.btn-hover-theme-colored:hover {
  background-color: #f68200;
  border-color: #f68200;
  color: #fff;
}
/*
 * Shortcode: styled-icons Theme Colored
 * -----------------------------------------------
*/
.icon-theme-colored a {
  color: #f68200;
}
.icon-theme-colored.icon-bordered a {
  border-color: #f68200;
}
.icon-theme-colored.icon-bordered a:hover {
  background-color: #f68200;
  color: #fff;
}
.icon-theme-colored.icon-dark a {
  background-color: #f68200;
  color: #fff;
}
.icon-theme-colored.icon-dark a:hover {
  background-color: #291b1b;
}
.icon-theme-colored.icon-dark.icon-bordered a {
  border-color: #f68200;
  color: #f68200;
}
.icon-theme-colored.icon-dark.icon-bordered a:hover {
  background-color: #f68200;
  border-color: #f68200;
  color: #fff;
}
.icon-theme-colored.icon-gray a {
  color: #f68200;
}
.icon-theme-colored.icon-gray a:hover {
  color: #291b1b;
}
.icon-theme-colored.icon-gray.icon-bordered a {
  color: #f68200;
}
.icon-theme-colored.icon-gray.icon-bordered a:hover {
  background-color: #eeeeee;
  border-color: #eeeeee;
  color: #f68200;
}
.icon-hover-theme-colored a:hover {
  background-color: #f68200;
  border-color: #f68200;
  color: #fff;
}
.styled-icons.icon-hover-theme-colored a:hover {
  background-color: #f68200;
  border-color: #f68200;
  color: #fff;
}
/*
 * Shortcode: Icon Boxes Theme Colored
 * -----------------------------------------------
*/
.icon-box.iconbox-theme-colored .icon {
  color: #f68200;
}
.icon-box.iconbox-theme-colored .icon.icon-border-effect::after {
  box-shadow: 0 0 0 3px #f68200;
}
.icon-box.iconbox-theme-colored .icon.icon-bordered {
  border-color: #f68200;
}
.icon-box.iconbox-theme-colored .icon.icon-bordered:hover {
  background-color: #f68200;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-gray:hover {
  background-color: #f68200;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-gray.icon-bordered {
  border-color: #eeeeee;
}
.icon-box.iconbox-theme-colored .icon.icon-gray.icon-bordered:hover {
  background-color: #f68200;
  border-color: #f68200;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-dark {
  background-color: #f68200;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-dark:hover {
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-dark.icon-bordered {
  background-color: transparent;
  border-color: #f68200;
  color: #f68200;
}
.icon-box.iconbox-theme-colored .icon.icon-dark.icon-bordered:hover {
  background-color: #f68200;
  border-color: #f68200;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-white {
  background-color: #fff;
  color: #f68200;
}
.icon-box.iconbox-theme-colored .icon.icon-white:hover {
  background-color: #f68200;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-white.icon-bordered {
  background-color: transparent;
  border-color: #f68200;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-white.icon-bordered:hover {
  background-color: #f68200;
  border-color: #f68200;
  color: #fff;
}
.icon-box.iconbox-theme-colored.iconbox-border {
  border-color: #f68200;
}
/*
 *  accordion.less
 * -----------------------------------------------
*/
.accordion-theme-colored .panel-default > .panel-heading {
  background-color: #f68200;
}
.accordion-theme-colored .panel-default > .panel-heading .panel-title > a,
.accordion-theme-colored .panel-default > .panel-heading .panel-title > a:hover,
.accordion-theme-colored .panel-default > .panel-heading .panel-title > a:focus {
  color: #fff;
}
.panel-group.accordion-classic-theme-colored .panel-heading .panel-title a.active:before {
  background: #f68200;
}
.panel-group.accordion-classic-theme-colored-filled .panel-heading {
  background: #f68200;
}
.panel-group.accordion-classic-theme-colored-filled .panel-heading .panel-title a {
  color: #fff;
}
.panel-group.accordion-classic-theme-colored-filled .panel-heading .panel-title a:before {
  background: #3f292a;
  color: #fff;
}
.panel-group.accordion-classic-theme-colored-filled .panel-heading .panel-title a.active:before {
  background: #201515;
}
.panel-group.accordion-classic-theme-colored12 .panel-heading {
  background: #f68200;
}
.panel-group.accordion-classic-theme-colored12 .panel-heading .panel-title a {
  color: #fff;
}
.panel-group.accordion-classic-theme-colored12 .panel-heading .panel-title a:before {
  background: #392526;
  color: #fff;
}
.panel-group.accordion-classic-theme-colored12 .panel-heading .panel-title a.active:before {
  background: #DD2D0C;
}
.panel-group.accordion-icon-filled.accordion-icon-left.accordion-icon-filled-theme-colored .panel-heading .panel-title a:before {
  background-color: #f68200;
}
.panel-group.accordion-icon-filled.accordion-icon-right.accordion-icon-filled-theme-colored .panel-heading .panel-title a:after {
  background-color: #f68200;
}
/* Modern Header */
.modern-header.modern-header-theme-colored2 .header-nav .header-nav-wrapper:not(.scroll-to-fixed-fixed) nav {
  background: #DD2D0C;
}
.modern-header.modern-header-theme-colored2 .header-nav .header-nav-wrapper.scroll-to-fixed-fixed {
  background: #DD2D0C;
}
/* -------- Text Theme Color ---------- */
.text-theme-colored2 {
  color: #DD2D0C !important;
}
.text-hover-theme-colored2:hover {
  color: #DD2D0C !important;
}
ul.list.theme-colored2 li:before,
ul.list.theme-colored2.angle-double-right li:before,
ul.list.theme-colored2.angle-right li:before,
ul.list.theme-colored2.check-circle li:before,
ul.list.theme-colored2.check li:before,
.list-icon.theme-colored2 li i {
  color: #DD2D0C;
}
/* -------- border-theme-color ---------- */
.border-theme-colored2 {
  border-color: #DD2D0C !important;
}
.border-1px-theme-colored2 {
  border: 1px solid #DD2D0C;
}
/* border-left-color */
blockquote.theme-colored2 {
  border-left: 3px solid #DD2D0C;
}
blockquote.bg-theme-colored2 {
  border-left: 3px solid #509935;
  color: #fff;
}
blockquote.bg-theme-colored2 footer {
  color: #eeeeee;
}
blockquote.gray.bg-theme-colored2 {
  background-color: #eeeeee !important;
  border-left: 3px solid #DD2D0C;
  color: #DD2D0C;
}
blockquote.gray.bg-theme-colored2 footer {
  color: #777777;
}
/* -------- bg-theme-color ---------- */
.bg-theme-colored2 {
  background-color: #DD2D0C !important;
}
.bg-hover-theme-colored2:hover {
  background: #DD2D0C !important;
  border-color: #DD2D0C !important;
  color: #fff !important;
}
.bg-hover-theme-colored2:hover h1,
.bg-hover-theme-colored2:hover h2,
.bg-hover-theme-colored2:hover h3,
.bg-hover-theme-colored2:hover h4,
.bg-hover-theme-colored2:hover h5,
.bg-hover-theme-colored2:hover h6,
.bg-hover-theme-colored2:hover p,
.bg-hover-theme-colored2:hover a,
.bg-hover-theme-colored2:hover i {
  color: #fff !important;
}
.list-icon.theme-colored2.square li i,
.list-icon.theme-colored2.rounded li i {
  background: #DD2D0C;
}
/* -------- lighter/darker bg Color ---------- */
.bg-theme-colored2-lighter2 {
  background-color: #6ac14b !important;
}
.bg-theme-colored2-lighter3 {
  background-color: #6dc24e !important;
}
.bg-theme-colored2-lighter4 {
  background-color: #70c352 !important;
}
.bg-theme-colored2-lighter5 {
  background-color: #74c556 !important;
}
.bg-theme-colored2-lighter6 {
  background-color: #77c65a !important;
}
.bg-theme-colored2-lighter7 {
  background-color: #7ac75e !important;
}
.bg-theme-colored2-lighter8 {
  background-color: #7dc861 !important;
}
.bg-theme-colored2-lighter9 {
  background-color: #80ca65 !important;
}
.bg-theme-colored2-darker2 {
  background-color: #60b73f !important;
}
.bg-theme-colored2-darker3 {
  background-color: #5eb43e !important;
}
.bg-theme-colored2-darker4 {
  background-color: #5cb03d !important;
}
.bg-theme-colored2-darker5 {
  background-color: #5aac3b !important;
}
.bg-theme-colored2-darker6 {
  background-color: #58a83a !important;
}
.bg-theme-colored2-darker7 {
  background-color: #56a439 !important;
}
.bg-theme-colored2-darker8 {
  background-color: #54a138 !important;
}
.bg-theme-colored2-darker9 {
  background-color: #529d36 !important;
}
/* -------- Transparent bg Color ---------- */
.bg-theme-colored2-transparent-9 {
  background-color: rgba(100, 190, 67, 0.9) !important;
}
.bg-theme-colored2-transparent-8 {
  background-color: rgba(100, 190, 67, 0.8) !important;
}
.bg-theme-colored2-transparent-7 {
  background-color: rgba(100, 190, 67, 0.7) !important;
}
.bg-theme-colored2-transparent-6 {
  background-color: rgba(100, 190, 67, 0.6) !important;
}
.bg-theme-colored2-transparent-5 {
  background-color: rgba(100, 190, 67, 0.5) !important;
}
.bg-theme-colored2-transparent-4 {
  background-color: rgba(100, 190, 67, 0.4) !important;
}
.bg-theme-colored2-transparent-3 {
  background-color: rgba(100, 190, 67, 0.3) !important;
}
.bg-theme-colored2-transparent-2 {
  background-color: rgba(100, 190, 67, 0.2) !important;
}
.bg-theme-colored2-transparent-1 {
  background-color: rgba(100, 190, 67, 0.1) !important;
}
.bg-theme-colored2-transparent {
  background-color: rgba(100, 190, 67, 0.5) !important;
}
/* -------- layer overlay Color ---------- */
.layer-overlay {
  /* .overlay-theme-colored2 */
}
.layer-overlay.overlay-theme-colored2::before {
  background-color: rgba(100, 190, 67, 0.8) !important;
}
.layer-overlay.overlay-theme-colored2-1::before {
  background-color: rgba(100, 190, 67, 0.1);
}
.layer-overlay.overlay-theme-colored2-2::before {
  background-color: rgba(100, 190, 67, 0.2);
}
.layer-overlay.overlay-theme-colored2-3::before {
  background-color: rgba(100, 190, 67, 0.3);
}
.layer-overlay.overlay-theme-colored2-4::before {
  background-color: rgba(100, 190, 67, 0.4);
}
.layer-overlay.overlay-theme-colored2-5::before {
  background-color: rgba(100, 190, 67, 0.5);
}
.layer-overlay.overlay-theme-colored2-6::before {
  background-color: rgba(100, 190, 67, 0.6);
}
.layer-overlay.overlay-theme-colored2-7::before {
  background-color: rgba(100, 190, 67, 0.7);
}
.layer-overlay.overlay-theme-colored2-8::before {
  background-color: rgba(100, 190, 67, 0.8);
}
.layer-overlay.overlay-theme-colored2-9::before {
  background-color: rgba(100, 190, 67, 0.9);
}
/*
 * btn-default: theme-color
 * -----------------------------------------------
*/
.btn-default.btn-theme-colored2 {
  color: #DD2D0C;
  background-color: #fff;
  border-color: #DD2D0C;
}
.btn-default.btn-theme-colored2:focus,
.btn-default.btn-theme-colored2.focus {
  color: #DD2D0C;
  background-color: #e6e6e6;
  border-color: #326021;
}
.btn-default.btn-theme-colored2:hover {
  color: #DD2D0C;
  background-color: #e6e6e6;
  border-color: #4c9132;
}
.btn-default.btn-theme-colored2:active,
.btn-default.btn-theme-colored2.active,
.open > .dropdown-toggle.btn-default.btn-theme-colored2 {
  color: #DD2D0C;
  background-color: #e6e6e6;
  border-color: #4c9132;
}
.btn-default.btn-theme-colored2:active:hover,
.btn-default.btn-theme-colored2.active:hover,
.open > .dropdown-toggle.btn-default.btn-theme-colored2:hover,
.btn-default.btn-theme-colored2:active:focus,
.btn-default.btn-theme-colored2.active:focus,
.open > .dropdown-toggle.btn-default.btn-theme-colored2:focus,
.btn-default.btn-theme-colored2:active.focus,
.btn-default.btn-theme-colored2.active.focus,
.open > .dropdown-toggle.btn-default.btn-theme-colored2.focus {
  color: #DD2D0C;
  background-color: #d4d4d4;
  border-color: #326021;
}
.btn-default.btn-theme-colored2:active,
.btn-default.btn-theme-colored2.active,
.open > .dropdown-toggle.btn-default.btn-theme-colored2 {
  background-image: none;
}
.btn-default.btn-theme-colored2.disabled:hover,
.btn-default.btn-theme-colored2[disabled]:hover,
fieldset[disabled] .btn-default.btn-theme-colored2:hover,
.btn-default.btn-theme-colored2.disabled:focus,
.btn-default.btn-theme-colored2[disabled]:focus,
fieldset[disabled] .btn-default.btn-theme-colored2:focus,
.btn-default.btn-theme-colored2.disabled.focus,
.btn-default.btn-theme-colored2[disabled].focus,
fieldset[disabled] .btn-default.btn-theme-colored2.focus {
  background-color: #fff;
  border-color: #DD2D0C;
}
.btn-default.btn-theme-colored2 .badge {
  color: #fff;
  background-color: #DD2D0C;
}
.btn-default.btn-theme-colored2:hover,
.btn-default.btn-theme-colored2:active,
.btn-default.btn-theme-colored2:focus {
  background-color: #DD2D0C;
  border-color: #DD2D0C;
  color: #fff;
}
/*
 * btn-border
 * -----------------------------------------------
*/
.btn-border.btn-theme-colored2 {
  color: #DD2D0C;
  background-color: #fff;
  border-color: #DD2D0C;
}
.btn-border.btn-theme-colored2:focus,
.btn-border.btn-theme-colored2.focus {
  color: #DD2D0C;
  background-color: #e6e6e6;
  border-color: #326021;
}
.btn-border.btn-theme-colored2:hover {
  color: #DD2D0C;
  background-color: #e6e6e6;
  border-color: #4c9132;
}
.btn-border.btn-theme-colored2:active,
.btn-border.btn-theme-colored2.active,
.open > .dropdown-toggle.btn-border.btn-theme-colored2 {
  color: #DD2D0C;
  background-color: #e6e6e6;
  border-color: #4c9132;
}
.btn-border.btn-theme-colored2:active:hover,
.btn-border.btn-theme-colored2.active:hover,
.open > .dropdown-toggle.btn-border.btn-theme-colored2:hover,
.btn-border.btn-theme-colored2:active:focus,
.btn-border.btn-theme-colored2.active:focus,
.open > .dropdown-toggle.btn-border.btn-theme-colored2:focus,
.btn-border.btn-theme-colored2:active.focus,
.btn-border.btn-theme-colored2.active.focus,
.open > .dropdown-toggle.btn-border.btn-theme-colored2.focus {
  color: #DD2D0C;
  background-color: #d4d4d4;
  border-color: #326021;
}
.btn-border.btn-theme-colored2:active,
.btn-border.btn-theme-colored2.active,
.open > .dropdown-toggle.btn-border.btn-theme-colored2 {
  background-image: none;
}
.btn-border.btn-theme-colored2.disabled:hover,
.btn-border.btn-theme-colored2[disabled]:hover,
fieldset[disabled] .btn-border.btn-theme-colored2:hover,
.btn-border.btn-theme-colored2.disabled:focus,
.btn-border.btn-theme-colored2[disabled]:focus,
fieldset[disabled] .btn-border.btn-theme-colored2:focus,
.btn-border.btn-theme-colored2.disabled.focus,
.btn-border.btn-theme-colored2[disabled].focus,
fieldset[disabled] .btn-border.btn-theme-colored2.focus {
  background-color: #fff;
  border-color: #DD2D0C;
}
.btn-border.btn-theme-colored2 .badge {
  color: #fff;
  background-color: #DD2D0C;
}
.btn-border.btn-theme-colored2:hover,
.btn-border.btn-theme-colored2:active,
.btn-border.btn-theme-colored2:focus {
  background-color: #509935;
  border-color: #509935;
  color: #fff;
}
/*
 * btn-dark
 * -----------------------------------------------
*/
.btn-dark.btn-theme-colored2 {
  color: #fff;
  background-color: #DD2D0C;
  border-color: #DD2D0C;
}
.btn-dark.btn-theme-colored2:focus,
.btn-dark.btn-theme-colored2.focus {
  color: #fff;
  background-color: #509935;
  border-color: #326021;
}
.btn-dark.btn-theme-colored2:hover {
  color: #fff;
  background-color: #509935;
  border-color: #4c9132;
}
.btn-dark.btn-theme-colored2:active,
.btn-dark.btn-theme-colored2.active,
.open > .dropdown-toggle.btn-dark.btn-theme-colored2 {
  color: #fff;
  background-color: #509935;
  border-color: #4c9132;
}
.btn-dark.btn-theme-colored2:active:hover,
.btn-dark.btn-theme-colored2.active:hover,
.open > .dropdown-toggle.btn-dark.btn-theme-colored2:hover,
.btn-dark.btn-theme-colored2:active:focus,
.btn-dark.btn-theme-colored2.active:focus,
.open > .dropdown-toggle.btn-dark.btn-theme-colored2:focus,
.btn-dark.btn-theme-colored2:active.focus,
.btn-dark.btn-theme-colored2.active.focus,
.open > .dropdown-toggle.btn-dark.btn-theme-colored2.focus {
  color: #fff;
  background-color: #427f2c;
  border-color: #326021;
}
.btn-dark.btn-theme-colored2:active,
.btn-dark.btn-theme-colored2.active,
.open > .dropdown-toggle.btn-dark.btn-theme-colored2 {
  background-image: none;
}
.btn-dark.btn-theme-colored2.disabled:hover,
.btn-dark.btn-theme-colored2[disabled]:hover,
fieldset[disabled] .btn-dark.btn-theme-colored2:hover,
.btn-dark.btn-theme-colored2.disabled:focus,
.btn-dark.btn-theme-colored2[disabled]:focus,
fieldset[disabled] .btn-dark.btn-theme-colored2:focus,
.btn-dark.btn-theme-colored2.disabled.focus,
.btn-dark.btn-theme-colored2[disabled].focus,
fieldset[disabled] .btn-dark.btn-theme-colored2.focus {
  background-color: #DD2D0C;
  border-color: #DD2D0C;
}
.btn-dark.btn-theme-colored2 .badge {
  color: #DD2D0C;
  background-color: #fff;
}
/*
 * btn-gray
 * -----------------------------------------------
*/
.btn-gray.btn-theme-colored2 {
  color: #DD2D0C;
  background-color: #83cb69;
  border-color: #83cb69;
}
.btn-gray.btn-theme-colored2:focus,
.btn-gray.btn-theme-colored2.focus {
  color: #DD2D0C;
  background-color: #DD2D0C;
  border-color: #46862e;
}
.btn-gray.btn-theme-colored2:hover {
  color: #DD2D0C;
  background-color: #DD2D0C;
  border-color: #60b73f;
}
.btn-gray.btn-theme-colored2:active,
.btn-gray.btn-theme-colored2.active,
.open > .dropdown-toggle.btn-gray.btn-theme-colored2 {
  color: #DD2D0C;
  background-color: #DD2D0C;
  border-color: #60b73f;
}
.btn-gray.btn-theme-colored2:active:hover,
.btn-gray.btn-theme-colored2.active:hover,
.open > .dropdown-toggle.btn-gray.btn-theme-colored2:hover,
.btn-gray.btn-theme-colored2:active:focus,
.btn-gray.btn-theme-colored2.active:focus,
.open > .dropdown-toggle.btn-gray.btn-theme-colored2:focus,
.btn-gray.btn-theme-colored2:active.focus,
.btn-gray.btn-theme-colored2.active.focus,
.open > .dropdown-toggle.btn-gray.btn-theme-colored2.focus {
  color: #DD2D0C;
  background-color: #56a439;
  border-color: #46862e;
}
.btn-gray.btn-theme-colored2:active,
.btn-gray.btn-theme-colored2.active,
.open > .dropdown-toggle.btn-gray.btn-theme-colored2 {
  background-image: none;
}
.btn-gray.btn-theme-colored2.disabled:hover,
.btn-gray.btn-theme-colored2[disabled]:hover,
fieldset[disabled] .btn-gray.btn-theme-colored2:hover,
.btn-gray.btn-theme-colored2.disabled:focus,
.btn-gray.btn-theme-colored2[disabled]:focus,
fieldset[disabled] .btn-gray.btn-theme-colored2:focus,
.btn-gray.btn-theme-colored2.disabled.focus,
.btn-gray.btn-theme-colored2[disabled].focus,
fieldset[disabled] .btn-gray.btn-theme-colored2.focus {
  background-color: #83cb69;
  border-color: #83cb69;
}
.btn-gray.btn-theme-colored2 .badge {
  color: #83cb69;
  background-color: #DD2D0C;
}
/*
 * btn-primary: theme-color
 * -----------------------------------------------
*/
.btn-theme-colored2 {
  color: #fff;
  background-color: #DD2D0C;
  border-color: #DD2D0C;
}
.btn-theme-colored2:focus,
.btn-theme-colored2.focus {
  color: #fff;
  background-color: #509935;
  border-color: #326021;
}
.btn-theme-colored2:hover {
  color: #fff;
  background-color: #509935;
  border-color: #4c9132;
}
.btn-theme-colored2:active,
.btn-theme-colored2.active,
.open > .dropdown-toggle.btn-theme-colored2 {
  color: #fff;
  background-color: #509935;
  border-color: #4c9132;
}
.btn-theme-colored2:active:hover,
.btn-theme-colored2.active:hover,
.open > .dropdown-toggle.btn-theme-colored2:hover,
.btn-theme-colored2:active:focus,
.btn-theme-colored2.active:focus,
.open > .dropdown-toggle.btn-theme-colored2:focus,
.btn-theme-colored2:active.focus,
.btn-theme-colored2.active.focus,
.open > .dropdown-toggle.btn-theme-colored2.focus {
  color: #fff;
  background-color: #427f2c;
  border-color: #326021;
}
.btn-theme-colored2:active,
.btn-theme-colored2.active,
.open > .dropdown-toggle.btn-theme-colored2 {
  background-image: none;
}
.btn-theme-colored2.disabled:hover,
.btn-theme-colored2[disabled]:hover,
fieldset[disabled] .btn-theme-colored2:hover,
.btn-theme-colored2.disabled:focus,
.btn-theme-colored2[disabled]:focus,
fieldset[disabled] .btn-theme-colored2:focus,
.btn-theme-colored2.disabled.focus,
.btn-theme-colored2[disabled].focus,
fieldset[disabled] .btn-theme-colored2.focus {
  background-color: #DD2D0C;
  border-color: #DD2D0C;
}
.btn-theme-colored2 .badge {
  color: #DD2D0C;
  background-color: #fff;
}
.btn-hover-theme-colored2:hover {
  background-color: #DD2D0C;
  border-color: #DD2D0C;
  color: #fff;
}
/*
 * Shortcode: styled-icons Theme Colored
 * -----------------------------------------------
*/
.icon-theme-colored2 a {
  color: #DD2D0C;
}
.icon-theme-colored2.icon-bordered a {
  border-color: #DD2D0C;
}
.icon-theme-colored2.icon-bordered a:hover {
  background-color: #DD2D0C;
  color: #fff;
}
.icon-theme-colored2.icon-dark a {
  background-color: #DD2D0C;
  color: #fff;
}
.icon-theme-colored2.icon-dark a:hover {
  background-color: #509935;
}
.icon-theme-colored2.icon-dark.icon-bordered a {
  border-color: #DD2D0C;
  color: #DD2D0C;
}
.icon-theme-colored2.icon-dark.icon-bordered a:hover {
  background-color: #DD2D0C;
  border-color: #DD2D0C;
  color: #fff;
}
.icon-theme-colored2.icon-gray a {
  color: #DD2D0C;
}
.icon-theme-colored2.icon-gray a:hover {
  color: #509935;
}
.icon-theme-colored2.icon-gray.icon-bordered a {
  color: #DD2D0C;
}
.icon-theme-colored2.icon-gray.icon-bordered a:hover {
  background-color: #eeeeee;
  border-color: #eeeeee;
  color: #DD2D0C;
}
.icon-hover-theme-colored2 a:hover {
  background-color: #DD2D0C;
  border-color: #DD2D0C;
  color: #fff;
}
.styled-icons.icon-hover-theme-colored2 a:hover {
  background-color: #DD2D0C;
  border-color: #DD2D0C;
  color: #fff;
}
/*
 * Shortcode: Icon Boxes Theme Colored
 * -----------------------------------------------
*/
.icon-box.iconbox-theme-colored2 .icon {
  color: #DD2D0C;
}
.icon-box.iconbox-theme-colored2 .icon.icon-border-effect::after {
  box-shadow: 0 0 0 3px #DD2D0C;
}
.icon-box.iconbox-theme-colored2 .icon.icon-bordered {
  border-color: #DD2D0C;
}
.icon-box.iconbox-theme-colored2 .icon.icon-bordered:hover {
  background-color: #DD2D0C;
  color: #fff;
}
.icon-box.iconbox-theme-colored2 .icon.icon-gray:hover {
  background-color: #DD2D0C;
  color: #fff;
}
.icon-box.iconbox-theme-colored2 .icon.icon-gray.icon-bordered {
  border-color: #eeeeee;
}
.icon-box.iconbox-theme-colored2 .icon.icon-gray.icon-bordered:hover {
  background-color: #DD2D0C;
  border-color: #DD2D0C;
  color: #fff;
}
.icon-box.iconbox-theme-colored2 .icon.icon-dark {
  background-color: #DD2D0C;
  color: #fff;
}
.icon-box.iconbox-theme-colored2 .icon.icon-dark:hover {
  color: #fff;
}
.icon-box.iconbox-theme-colored2 .icon.icon-dark.icon-bordered {
  background-color: transparent;
  border-color: #DD2D0C;
  color: #DD2D0C;
}
.icon-box.iconbox-theme-colored2 .icon.icon-dark.icon-bordered:hover {
  background-color: #DD2D0C;
  border-color: #DD2D0C;
  color: #fff;
}
.icon-box.iconbox-theme-colored2 .icon.icon-white {
  background-color: #fff;
  color: #DD2D0C;
}
.icon-box.iconbox-theme-colored2 .icon.icon-white:hover {
  background-color: #DD2D0C;
  color: #fff;
}
.icon-box.iconbox-theme-colored2 .icon.icon-white.icon-bordered {
  background-color: transparent;
  border-color: #DD2D0C;
  color: #fff;
}
.icon-box.iconbox-theme-colored2 .icon.icon-white.icon-bordered:hover {
  background-color: #DD2D0C;
  border-color: #DD2D0C;
  color: #fff;
}
.icon-box.iconbox-theme-colored2.iconbox-border {
  border-color: #DD2D0C;
}
/*
 *  accordion.less
 * -----------------------------------------------
*/
.accordion-theme-colored2 .panel-default > .panel-heading {
  background-color: #DD2D0C;
}
.accordion-theme-colored2 .panel-default > .panel-heading .panel-title > a,
.accordion-theme-colored2 .panel-default > .panel-heading .panel-title > a:hover,
.accordion-theme-colored2 .panel-default > .panel-heading .panel-title > a:focus {
  color: #fff;
}
.panel-group.accordion-classic-theme-colored2 .panel-heading .panel-title a.active:before {
  background: #DD2D0C;
}
.panel-group.accordion-classic-theme-colored2-filled .panel-heading {
  background: #DD2D0C;
}
.panel-group.accordion-classic-theme-colored2-filled .panel-heading .panel-title a {
  color: #fff;
}
.panel-group.accordion-classic-theme-colored2-filled .panel-heading .panel-title a:before {
  background: #5eb43e;
  color: #fff;
}
.panel-group.accordion-classic-theme-colored2-filled .panel-heading .panel-title a.active:before {
  background: #4a8e31;
}
.panel-group.accordion-classic-theme-colored21 .panel-heading {
  background: #DD2D0C;
}
.panel-group.accordion-classic-theme-colored21 .panel-heading .panel-title a {
  color: #fff;
}
.panel-group.accordion-classic-theme-colored21 .panel-heading .panel-title a:before {
  background: #5aac3b;
  color: #fff;
}
.panel-group.accordion-classic-theme-colored21 .panel-heading .panel-title a.active:before {
  background: #f68200;
}
.panel-group.accordion-icon-filled.accordion-icon-left.accordion-icon-filled-theme-colored2 .panel-heading .panel-title a:before {
  background-color: #DD2D0C;
}
.panel-group.accordion-icon-filled.accordion-icon-right.accordion-icon-filled-theme-colored2 .panel-heading .panel-title a:after {
  background-color: #DD2D0C;
}
/*
 *  common.less
 * -----------------------------------------------
*/
/*
 * custom-section-color-set.less
 * -----------------------------------------------
*/
/*
 * custom-section-color1.less
 * -----------------------------------------------
*/
/*
 * custom-section-color2.less
 * -----------------------------------------------
*/
/*
 * home-info-box.less
 * -----------------------------------------------
*/
.home-info-box {
  background-color: #f68200;
}
.home-info-box:hover {
  background-color: #DD2D0C;
}
/*
 * team-members.less
 * -----------------------------------------------
*/
/*
 *  Gradients BG+BGTransparent Color
 * -----------------------------------------------
*/
/* Gradient BG Colors */
.bg-theme-colored-gradient {
  background-color: #291b1b;
  background: -webkit-gradient(linear, left top, left bottom, from(#291b1b), to(#865759));
  background: -webkit-linear-gradient(top, #291b1b, #865759);
  background: -moz-linear-gradient(top, #291b1b, #865759);
  background: -ms-linear-gradient(top, #291b1b, #865759);
  background: -o-linear-gradient(top, #291b1b, #865759);
}
.bg-theme-colored-gradient-horizontal {
  background: #291b1b;
  background: -webkit-gradient(linear, left top, right top, from(#291b1b), to(#865759));
  background: -webkit-linear-gradient(left, #291b1b, #865759);
  background: -moz-linear-gradient(left, #291b1b, #865759);
  background: -ms-linear-gradient(left, #291b1b, #865759);
  background: -o-linear-gradient(left, #291b1b, #865759);
}
.bg-theme-colored2-gradient {
  background-color: #509935;
  background: -webkit-gradient(linear, left top, left bottom, from(#509935), to(#a2d88f));
  background: -webkit-linear-gradient(top, #509935, #a2d88f);
  background: -moz-linear-gradient(top, #509935, #a2d88f);
  background: -ms-linear-gradient(top, #509935, #a2d88f);
  background: -o-linear-gradient(top, #509935, #a2d88f);
}
.bg-theme-colored2-gradient-horizontal {
  background: #509935;
  background: -webkit-gradient(linear, left top, right top, from(#509935), to(#a2d88f));
  background: -webkit-linear-gradient(left, #509935, #a2d88f);
  background: -moz-linear-gradient(left, #509935, #a2d88f);
  background: -ms-linear-gradient(left, #509935, #a2d88f);
  background: -o-linear-gradient(left, #509935, #a2d88f);
}
.bg-theme-colored12-gradient {
  background-color: #f68200;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9890b), to(#DD2D0C));
  background: -webkit-linear-gradient(top, #f9890b, #DD2D0C);
  background: -moz-linear-gradient(top, #f9890b, #DD2D0C);
  background: -ms-linear-gradient(top, #f9890b, #DD2D0C);
  background: -o-linear-gradient(top, #f9890b, #DD2D0C);
}
.bg-theme-colored12-gradient-horizontal {
  background: #f68200;
  background: -webkit-gradient(linear, left top, right top, from(#f9890b), to(#DD2D0C));
  background: -webkit-linear-gradient(left, #f9890b, #DD2D0C);
  background: -moz-linear-gradient(left, #f9890b, #DD2D0C);
  background: -ms-linear-gradient(left, #f9890b, #DD2D0C);
  background: -o-linear-gradient(left, #f9890b, #DD2D0C);
}
.bg-theme-colored21-gradient {
  background-color: #DD2D0C;
  background: -webkit-gradient(linear, left top, left bottom, from(#DD2D0C), to(#f9890b));
  background: -webkit-linear-gradient(top, #DD2D0C, #f9890b);
  background: -moz-linear-gradient(top, #DD2D0C, #f9890b);
  background: -ms-linear-gradient(top, #DD2D0C, #f9890b);
  background: -o-linear-gradient(top, #DD2D0C, #f9890b);
}
.bg-theme-colored21-gradient-horizontal {
  background: #DD2D0C;
  background: -webkit-gradient(linear, left top, right top, from(#DD2D0C), to(#f9890b));
  background: -webkit-linear-gradient(left, #DD2D0C, #f9890b);
  background: -moz-linear-gradient(left, #DD2D0C, #f9890b);
  background: -ms-linear-gradient(left, #DD2D0C, #f9890b);
  background: -o-linear-gradient(left, #DD2D0C, #f9890b);
}
/* -------- layer overlay gradient Color1 ---------- */
.layer-overlay.overlay-theme-colored-gradient::before {
  background: rgba(72, 47, 48, 0.9);
  background: -webkit-gradient(linear, left top, right top, from(rgba(72, 47, 48, 0.9)), to(rgba(134, 87, 89, 0.9)));
  background: -webkit-linear-gradient(left, rgba(72, 47, 48, 0.9), rgba(134, 87, 89, 0.9));
  background: -moz-linear-gradient(left, rgba(72, 47, 48, 0.9), rgba(134, 87, 89, 0.9));
  background: -ms-linear-gradient(left, rgba(72, 47, 48, 0.9), rgba(134, 87, 89, 0.9));
  background: -o-linear-gradient(left, rgba(72, 47, 48, 0.9), rgba(134, 87, 89, 0.9));
}
.layer-overlay.overlay-theme-colored-gradient-1::before {
  background: rgba(72, 47, 48, 0.1);
  background: -webkit-gradient(linear, left top, right top, from(rgba(72, 47, 48, 0.1)), to(rgba(134, 87, 89, 0.1)));
  background: -webkit-linear-gradient(left, rgba(72, 47, 48, 0.1), rgba(134, 87, 89, 0.1));
  background: -moz-linear-gradient(left, rgba(72, 47, 48, 0.1), rgba(134, 87, 89, 0.1));
  background: -ms-linear-gradient(left, rgba(72, 47, 48, 0.1), rgba(134, 87, 89, 0.1));
  background: -o-linear-gradient(left, rgba(72, 47, 48, 0.1), rgba(134, 87, 89, 0.1));
}
.layer-overlay.overlay-theme-colored-gradient-2::before {
  background: rgba(72, 47, 48, 0.2);
  background: -webkit-gradient(linear, left top, right top, from(rgba(72, 47, 48, 0.2)), to(rgba(134, 87, 89, 0.2)));
  background: -webkit-linear-gradient(left, rgba(72, 47, 48, 0.2), rgba(134, 87, 89, 0.2));
  background: -moz-linear-gradient(left, rgba(72, 47, 48, 0.2), rgba(134, 87, 89, 0.2));
  background: -ms-linear-gradient(left, rgba(72, 47, 48, 0.2), rgba(134, 87, 89, 0.2));
  background: -o-linear-gradient(left, rgba(72, 47, 48, 0.2), rgba(134, 87, 89, 0.2));
}
.layer-overlay.overlay-theme-colored-gradient-3::before {
  background: rgba(72, 47, 48, 0.3);
  background: -webkit-gradient(linear, left top, right top, from(rgba(72, 47, 48, 0.3)), to(rgba(134, 87, 89, 0.3)));
  background: -webkit-linear-gradient(left, rgba(72, 47, 48, 0.3), rgba(134, 87, 89, 0.3));
  background: -moz-linear-gradient(left, rgba(72, 47, 48, 0.3), rgba(134, 87, 89, 0.3));
  background: -ms-linear-gradient(left, rgba(72, 47, 48, 0.3), rgba(134, 87, 89, 0.3));
  background: -o-linear-gradient(left, rgba(72, 47, 48, 0.3), rgba(134, 87, 89, 0.3));
}
.layer-overlay.overlay-theme-colored-gradient-4::before {
  background: rgba(72, 47, 48, 0.4);
  background: -webkit-gradient(linear, left top, right top, from(rgba(72, 47, 48, 0.4)), to(rgba(134, 87, 89, 0.4)));
  background: -webkit-linear-gradient(left, rgba(72, 47, 48, 0.4), rgba(134, 87, 89, 0.4));
  background: -moz-linear-gradient(left, rgba(72, 47, 48, 0.4), rgba(134, 87, 89, 0.4));
  background: -ms-linear-gradient(left, rgba(72, 47, 48, 0.4), rgba(134, 87, 89, 0.4));
  background: -o-linear-gradient(left, rgba(72, 47, 48, 0.4), rgba(134, 87, 89, 0.4));
}
.layer-overlay.overlay-theme-colored-gradient-5::before {
  background: rgba(72, 47, 48, 0.5);
  background: -webkit-gradient(linear, left top, right top, from(rgba(72, 47, 48, 0.5)), to(rgba(134, 87, 89, 0.5)));
  background: -webkit-linear-gradient(left, rgba(72, 47, 48, 0.5), rgba(134, 87, 89, 0.5));
  background: -moz-linear-gradient(left, rgba(72, 47, 48, 0.5), rgba(134, 87, 89, 0.5));
  background: -ms-linear-gradient(left, rgba(72, 47, 48, 0.5), rgba(134, 87, 89, 0.5));
  background: -o-linear-gradient(left, rgba(72, 47, 48, 0.5), rgba(134, 87, 89, 0.5));
}
.layer-overlay.overlay-theme-colored-gradient-6::before {
  background: rgba(72, 47, 48, 0.6);
  background: -webkit-gradient(linear, left top, right top, from(rgba(72, 47, 48, 0.6)), to(rgba(134, 87, 89, 0.6)));
  background: -webkit-linear-gradient(left, rgba(72, 47, 48, 0.6), rgba(134, 87, 89, 0.6));
  background: -moz-linear-gradient(left, rgba(72, 47, 48, 0.6), rgba(134, 87, 89, 0.6));
  background: -ms-linear-gradient(left, rgba(72, 47, 48, 0.6), rgba(134, 87, 89, 0.6));
  background: -o-linear-gradient(left, rgba(72, 47, 48, 0.6), rgba(134, 87, 89, 0.6));
}
.layer-overlay.overlay-theme-colored-gradient-7::before {
  background: rgba(72, 47, 48, 0.7);
  background: -webkit-gradient(linear, left top, right top, from(rgba(72, 47, 48, 0.7)), to(rgba(134, 87, 89, 0.7)));
  background: -webkit-linear-gradient(left, rgba(72, 47, 48, 0.7), rgba(134, 87, 89, 0.7));
  background: -moz-linear-gradient(left, rgba(72, 47, 48, 0.7), rgba(134, 87, 89, 0.7));
  background: -ms-linear-gradient(left, rgba(72, 47, 48, 0.7), rgba(134, 87, 89, 0.7));
  background: -o-linear-gradient(left, rgba(72, 47, 48, 0.7), rgba(134, 87, 89, 0.7));
}
.layer-overlay.overlay-theme-colored-gradient-8::before {
  background: rgba(72, 47, 48, 0.8);
  background: -webkit-gradient(linear, left top, right top, from(rgba(72, 47, 48, 0.8)), to(rgba(134, 87, 89, 0.8)));
  background: -webkit-linear-gradient(left, rgba(72, 47, 48, 0.8), rgba(134, 87, 89, 0.8));
  background: -moz-linear-gradient(left, rgba(72, 47, 48, 0.8), rgba(134, 87, 89, 0.8));
  background: -ms-linear-gradient(left, rgba(72, 47, 48, 0.8), rgba(134, 87, 89, 0.8));
  background: -o-linear-gradient(left, rgba(72, 47, 48, 0.8), rgba(134, 87, 89, 0.8));
}
.layer-overlay.overlay-theme-colored-gradient-9::before {
  background: rgba(72, 47, 48, 0.9);
  background: -webkit-gradient(linear, left top, right top, from(rgba(72, 47, 48, 0.9)), to(rgba(134, 87, 89, 0.9)));
  background: -webkit-linear-gradient(left, rgba(72, 47, 48, 0.9), rgba(134, 87, 89, 0.9));
  background: -moz-linear-gradient(left, rgba(72, 47, 48, 0.9), rgba(134, 87, 89, 0.9));
  background: -ms-linear-gradient(left, rgba(72, 47, 48, 0.9), rgba(134, 87, 89, 0.9));
  background: -o-linear-gradient(left, rgba(72, 47, 48, 0.9), rgba(134, 87, 89, 0.9));
}
/* -------- layer overlay gradient Color2 ---------- */
.layer-overlay.overlay-theme-colored2-gradient::before {
  background: rgba(100, 190, 67, 0.9);
  background: -webkit-gradient(linear, left top, right top, from(rgba(100, 190, 67, 0.9)), to(rgba(162, 216, 143, 0.9)));
  background: -webkit-linear-gradient(left, rgba(100, 190, 67, 0.9), rgba(162, 216, 143, 0.9));
  background: -moz-linear-gradient(left, rgba(100, 190, 67, 0.9), rgba(162, 216, 143, 0.9));
  background: -ms-linear-gradient(left, rgba(100, 190, 67, 0.9), rgba(162, 216, 143, 0.9));
  background: -o-linear-gradient(left, rgba(100, 190, 67, 0.9), rgba(162, 216, 143, 0.9));
}
.layer-overlay.overlay-theme-colored2-gradient-1::before {
  background: rgba(100, 190, 67, 0.1);
  background: -webkit-gradient(linear, left top, right top, from(rgba(100, 190, 67, 0.1)), to(rgba(162, 216, 143, 0.1)));
  background: -webkit-linear-gradient(left, rgba(100, 190, 67, 0.1), rgba(162, 216, 143, 0.1));
  background: -moz-linear-gradient(left, rgba(100, 190, 67, 0.1), rgba(162, 216, 143, 0.1));
  background: -ms-linear-gradient(left, rgba(100, 190, 67, 0.1), rgba(162, 216, 143, 0.1));
  background: -o-linear-gradient(left, rgba(100, 190, 67, 0.1), rgba(162, 216, 143, 0.1));
}
.layer-overlay.overlay-theme-colored2-gradient-2::before {
  background: rgba(100, 190, 67, 0.2);
  background: -webkit-gradient(linear, left top, right top, from(rgba(100, 190, 67, 0.2)), to(rgba(162, 216, 143, 0.2)));
  background: -webkit-linear-gradient(left, rgba(100, 190, 67, 0.2), rgba(162, 216, 143, 0.2));
  background: -moz-linear-gradient(left, rgba(100, 190, 67, 0.2), rgba(162, 216, 143, 0.2));
  background: -ms-linear-gradient(left, rgba(100, 190, 67, 0.2), rgba(162, 216, 143, 0.2));
  background: -o-linear-gradient(left, rgba(100, 190, 67, 0.2), rgba(162, 216, 143, 0.2));
}
.layer-overlay.overlay-theme-colored2-gradient-3::before {
  background: rgba(100, 190, 67, 0.3);
  background: -webkit-gradient(linear, left top, right top, from(rgba(100, 190, 67, 0.3)), to(rgba(162, 216, 143, 0.3)));
  background: -webkit-linear-gradient(left, rgba(100, 190, 67, 0.3), rgba(162, 216, 143, 0.3));
  background: -moz-linear-gradient(left, rgba(100, 190, 67, 0.3), rgba(162, 216, 143, 0.3));
  background: -ms-linear-gradient(left, rgba(100, 190, 67, 0.3), rgba(162, 216, 143, 0.3));
  background: -o-linear-gradient(left, rgba(100, 190, 67, 0.3), rgba(162, 216, 143, 0.3));
}
.layer-overlay.overlay-theme-colored2-gradient-4::before {
  background: rgba(100, 190, 67, 0.4);
  background: -webkit-gradient(linear, left top, right top, from(rgba(100, 190, 67, 0.4)), to(rgba(162, 216, 143, 0.4)));
  background: -webkit-linear-gradient(left, rgba(100, 190, 67, 0.4), rgba(162, 216, 143, 0.4));
  background: -moz-linear-gradient(left, rgba(100, 190, 67, 0.4), rgba(162, 216, 143, 0.4));
  background: -ms-linear-gradient(left, rgba(100, 190, 67, 0.4), rgba(162, 216, 143, 0.4));
  background: -o-linear-gradient(left, rgba(100, 190, 67, 0.4), rgba(162, 216, 143, 0.4));
}
.layer-overlay.overlay-theme-colored2-gradient-5::before {
  background: rgba(100, 190, 67, 0.5);
  background: -webkit-gradient(linear, left top, right top, from(rgba(100, 190, 67, 0.5)), to(rgba(162, 216, 143, 0.5)));
  background: -webkit-linear-gradient(left, rgba(100, 190, 67, 0.5), rgba(162, 216, 143, 0.5));
  background: -moz-linear-gradient(left, rgba(100, 190, 67, 0.5), rgba(162, 216, 143, 0.5));
  background: -ms-linear-gradient(left, rgba(100, 190, 67, 0.5), rgba(162, 216, 143, 0.5));
  background: -o-linear-gradient(left, rgba(100, 190, 67, 0.5), rgba(162, 216, 143, 0.5));
}
.layer-overlay.overlay-theme-colored2-gradient-6::before {
  background: rgba(100, 190, 67, 0.6);
  background: -webkit-gradient(linear, left top, right top, from(rgba(100, 190, 67, 0.6)), to(rgba(162, 216, 143, 0.6)));
  background: -webkit-linear-gradient(left, rgba(100, 190, 67, 0.6), rgba(162, 216, 143, 0.6));
  background: -moz-linear-gradient(left, rgba(100, 190, 67, 0.6), rgba(162, 216, 143, 0.6));
  background: -ms-linear-gradient(left, rgba(100, 190, 67, 0.6), rgba(162, 216, 143, 0.6));
  background: -o-linear-gradient(left, rgba(100, 190, 67, 0.6), rgba(162, 216, 143, 0.6));
}
.layer-overlay.overlay-theme-colored2-gradient-7::before {
  background: rgba(100, 190, 67, 0.7);
  background: -webkit-gradient(linear, left top, right top, from(rgba(100, 190, 67, 0.7)), to(rgba(162, 216, 143, 0.7)));
  background: -webkit-linear-gradient(left, rgba(100, 190, 67, 0.7), rgba(162, 216, 143, 0.7));
  background: -moz-linear-gradient(left, rgba(100, 190, 67, 0.7), rgba(162, 216, 143, 0.7));
  background: -ms-linear-gradient(left, rgba(100, 190, 67, 0.7), rgba(162, 216, 143, 0.7));
  background: -o-linear-gradient(left, rgba(100, 190, 67, 0.7), rgba(162, 216, 143, 0.7));
}
.layer-overlay.overlay-theme-colored2-gradient-8::before {
  background: rgba(100, 190, 67, 0.8);
  background: -webkit-gradient(linear, left top, right top, from(rgba(100, 190, 67, 0.8)), to(rgba(162, 216, 143, 0.8)));
  background: -webkit-linear-gradient(left, rgba(100, 190, 67, 0.8), rgba(162, 216, 143, 0.8));
  background: -moz-linear-gradient(left, rgba(100, 190, 67, 0.8), rgba(162, 216, 143, 0.8));
  background: -ms-linear-gradient(left, rgba(100, 190, 67, 0.8), rgba(162, 216, 143, 0.8));
  background: -o-linear-gradient(left, rgba(100, 190, 67, 0.8), rgba(162, 216, 143, 0.8));
}
.layer-overlay.overlay-theme-colored2-gradient-9::before {
  background: rgba(100, 190, 67, 0.9);
  background: -webkit-gradient(linear, left top, right top, from(rgba(100, 190, 67, 0.9)), to(rgba(162, 216, 143, 0.9)));
  background: -webkit-linear-gradient(left, rgba(100, 190, 67, 0.9), rgba(162, 216, 143, 0.9));
  background: -moz-linear-gradient(left, rgba(100, 190, 67, 0.9), rgba(162, 216, 143, 0.9));
  background: -ms-linear-gradient(left, rgba(100, 190, 67, 0.9), rgba(162, 216, 143, 0.9));
  background: -o-linear-gradient(left, rgba(100, 190, 67, 0.9), rgba(162, 216, 143, 0.9));
}
/* -------- layer overlay gradient Color Combined 12 ---------- */
.layer-overlay.overlay-theme-colored12-gradient::before {
  background: rgba(72, 47, 48, 0.9);
  background: -webkit-gradient(linear, left top, right top, from(rgba(72, 47, 48, 0.9)), to(rgba(100, 190, 67, 0.9)));
  background: -webkit-linear-gradient(left, rgba(72, 47, 48, 0.9), rgba(100, 190, 67, 0.9));
  background: -moz-linear-gradient(left, rgba(72, 47, 48, 0.9), rgba(100, 190, 67, 0.9));
  background: -ms-linear-gradient(left, rgba(72, 47, 48, 0.9), rgba(100, 190, 67, 0.9));
  background: -o-linear-gradient(left, rgba(72, 47, 48, 0.9), rgba(100, 190, 67, 0.9));
}
.layer-overlay.overlay-theme-colored12-gradient-1::before {
  background: rgba(72, 47, 48, 0.1);
  background: -webkit-gradient(linear, left top, right top, from(rgba(72, 47, 48, 0.1)), to(rgba(100, 190, 67, 0.1)));
  background: -webkit-linear-gradient(left, rgba(72, 47, 48, 0.1), rgba(100, 190, 67, 0.1));
  background: -moz-linear-gradient(left, rgba(72, 47, 48, 0.1), rgba(100, 190, 67, 0.1));
  background: -ms-linear-gradient(left, rgba(72, 47, 48, 0.1), rgba(100, 190, 67, 0.1));
  background: -o-linear-gradient(left, rgba(72, 47, 48, 0.1), rgba(100, 190, 67, 0.1));
}
.layer-overlay.overlay-theme-colored12-gradient-2::before {
  background: rgba(72, 47, 48, 0.2);
  background: -webkit-gradient(linear, left top, right top, from(rgba(72, 47, 48, 0.2)), to(rgba(100, 190, 67, 0.2)));
  background: -webkit-linear-gradient(left, rgba(72, 47, 48, 0.2), rgba(100, 190, 67, 0.2));
  background: -moz-linear-gradient(left, rgba(72, 47, 48, 0.2), rgba(100, 190, 67, 0.2));
  background: -ms-linear-gradient(left, rgba(72, 47, 48, 0.2), rgba(100, 190, 67, 0.2));
  background: -o-linear-gradient(left, rgba(72, 47, 48, 0.2), rgba(100, 190, 67, 0.2));
}
.layer-overlay.overlay-theme-colored12-gradient-3::before {
  background: rgba(72, 47, 48, 0.3);
  background: -webkit-gradient(linear, left top, right top, from(rgba(72, 47, 48, 0.3)), to(rgba(100, 190, 67, 0.3)));
  background: -webkit-linear-gradient(left, rgba(72, 47, 48, 0.3), rgba(100, 190, 67, 0.3));
  background: -moz-linear-gradient(left, rgba(72, 47, 48, 0.3), rgba(100, 190, 67, 0.3));
  background: -ms-linear-gradient(left, rgba(72, 47, 48, 0.3), rgba(100, 190, 67, 0.3));
  background: -o-linear-gradient(left, rgba(72, 47, 48, 0.3), rgba(100, 190, 67, 0.3));
}
.layer-overlay.overlay-theme-colored12-gradient-4::before {
  background: rgba(72, 47, 48, 0.4);
  background: -webkit-gradient(linear, left top, right top, from(rgba(72, 47, 48, 0.4)), to(rgba(100, 190, 67, 0.4)));
  background: -webkit-linear-gradient(left, rgba(72, 47, 48, 0.4), rgba(100, 190, 67, 0.4));
  background: -moz-linear-gradient(left, rgba(72, 47, 48, 0.4), rgba(100, 190, 67, 0.4));
  background: -ms-linear-gradient(left, rgba(72, 47, 48, 0.4), rgba(100, 190, 67, 0.4));
  background: -o-linear-gradient(left, rgba(72, 47, 48, 0.4), rgba(100, 190, 67, 0.4));
}
.layer-overlay.overlay-theme-colored12-gradient-5::before {
  background: rgba(72, 47, 48, 0.5);
  background: -webkit-gradient(linear, left top, right top, from(rgba(72, 47, 48, 0.5)), to(rgba(100, 190, 67, 0.5)));
  background: -webkit-linear-gradient(left, rgba(72, 47, 48, 0.5), rgba(100, 190, 67, 0.5));
  background: -moz-linear-gradient(left, rgba(72, 47, 48, 0.5), rgba(100, 190, 67, 0.5));
  background: -ms-linear-gradient(left, rgba(72, 47, 48, 0.5), rgba(100, 190, 67, 0.5));
  background: -o-linear-gradient(left, rgba(72, 47, 48, 0.5), rgba(100, 190, 67, 0.5));
}
.layer-overlay.overlay-theme-colored12-gradient-6::before {
  background: rgba(72, 47, 48, 0.6);
  background: -webkit-gradient(linear, left top, right top, from(rgba(72, 47, 48, 0.6)), to(rgba(100, 190, 67, 0.6)));
  background: -webkit-linear-gradient(left, rgba(72, 47, 48, 0.6), rgba(100, 190, 67, 0.6));
  background: -moz-linear-gradient(left, rgba(72, 47, 48, 0.6), rgba(100, 190, 67, 0.6));
  background: -ms-linear-gradient(left, rgba(72, 47, 48, 0.6), rgba(100, 190, 67, 0.6));
  background: -o-linear-gradient(left, rgba(72, 47, 48, 0.6), rgba(100, 190, 67, 0.6));
}
.layer-overlay.overlay-theme-colored12-gradient-7::before {
  background: rgba(72, 47, 48, 0.7);
  background: -webkit-gradient(linear, left top, right top, from(rgba(72, 47, 48, 0.7)), to(rgba(100, 190, 67, 0.7)));
  background: -webkit-linear-gradient(left, rgba(72, 47, 48, 0.7), rgba(100, 190, 67, 0.7));
  background: -moz-linear-gradient(left, rgba(72, 47, 48, 0.7), rgba(100, 190, 67, 0.7));
  background: -ms-linear-gradient(left, rgba(72, 47, 48, 0.7), rgba(100, 190, 67, 0.7));
  background: -o-linear-gradient(left, rgba(72, 47, 48, 0.7), rgba(100, 190, 67, 0.7));
}
.layer-overlay.overlay-theme-colored12-gradient-8::before {
  background: rgba(72, 47, 48, 0.8);
  background: -webkit-gradient(linear, left top, right top, from(rgba(72, 47, 48, 0.8)), to(rgba(100, 190, 67, 0.8)));
  background: -webkit-linear-gradient(left, rgba(72, 47, 48, 0.8), rgba(100, 190, 67, 0.8));
  background: -moz-linear-gradient(left, rgba(72, 47, 48, 0.8), rgba(100, 190, 67, 0.8));
  background: -ms-linear-gradient(left, rgba(72, 47, 48, 0.8), rgba(100, 190, 67, 0.8));
  background: -o-linear-gradient(left, rgba(72, 47, 48, 0.8), rgba(100, 190, 67, 0.8));
}
.layer-overlay.overlay-theme-colored12-gradient-9::before {
  background: rgba(72, 47, 48, 0.9);
  background: -webkit-gradient(linear, left top, right top, from(rgba(72, 47, 48, 0.9)), to(rgba(100, 190, 67, 0.9)));
  background: -webkit-linear-gradient(left, rgba(72, 47, 48, 0.9), rgba(100, 190, 67, 0.9));
  background: -moz-linear-gradient(left, rgba(72, 47, 48, 0.9), rgba(100, 190, 67, 0.9));
  background: -ms-linear-gradient(left, rgba(72, 47, 48, 0.9), rgba(100, 190, 67, 0.9));
  background: -o-linear-gradient(left, rgba(72, 47, 48, 0.9), rgba(100, 190, 67, 0.9));
}
/* -------- layer overlay gradient Color Combined 21 ---------- */
.layer-overlay.overlay-theme-colored21-gradient::before {
  background: rgba(100, 190, 67, 0.9);
  background: -webkit-gradient(linear, left top, right top, from(rgba(100, 190, 67, 0.9)), to(rgba(72, 47, 48, 0.9)));
  background: -webkit-linear-gradient(left, rgba(100, 190, 67, 0.9), rgba(72, 47, 48, 0.9));
  background: -moz-linear-gradient(left, rgba(100, 190, 67, 0.9), rgba(72, 47, 48, 0.9));
  background: -ms-linear-gradient(left, rgba(100, 190, 67, 0.9), rgba(72, 47, 48, 0.9));
  background: -o-linear-gradient(left, rgba(100, 190, 67, 0.9), rgba(72, 47, 48, 0.9));
}
.layer-overlay.overlay-theme-colored21-gradient-1::before {
  background: rgba(100, 190, 67, 0.1);
  background: -webkit-gradient(linear, left top, right top, from(rgba(100, 190, 67, 0.1)), to(rgba(72, 47, 48, 0.1)));
  background: -webkit-linear-gradient(left, rgba(100, 190, 67, 0.1), rgba(72, 47, 48, 0.1));
  background: -moz-linear-gradient(left, rgba(100, 190, 67, 0.1), rgba(72, 47, 48, 0.1));
  background: -ms-linear-gradient(left, rgba(100, 190, 67, 0.1), rgba(72, 47, 48, 0.1));
  background: -o-linear-gradient(left, rgba(100, 190, 67, 0.1), rgba(72, 47, 48, 0.1));
}
.layer-overlay.overlay-theme-colored21-gradient-2::before {
  background: rgba(100, 190, 67, 0.2);
  background: -webkit-gradient(linear, left top, right top, from(rgba(100, 190, 67, 0.2)), to(rgba(72, 47, 48, 0.2)));
  background: -webkit-linear-gradient(left, rgba(100, 190, 67, 0.2), rgba(72, 47, 48, 0.2));
  background: -moz-linear-gradient(left, rgba(100, 190, 67, 0.2), rgba(72, 47, 48, 0.2));
  background: -ms-linear-gradient(left, rgba(100, 190, 67, 0.2), rgba(72, 47, 48, 0.2));
  background: -o-linear-gradient(left, rgba(100, 190, 67, 0.2), rgba(72, 47, 48, 0.2));
}
.layer-overlay.overlay-theme-colored21-gradient-3::before {
  background: rgba(100, 190, 67, 0.3);
  background: -webkit-gradient(linear, left top, right top, from(rgba(100, 190, 67, 0.3)), to(rgba(72, 47, 48, 0.3)));
  background: -webkit-linear-gradient(left, rgba(100, 190, 67, 0.3), rgba(72, 47, 48, 0.3));
  background: -moz-linear-gradient(left, rgba(100, 190, 67, 0.3), rgba(72, 47, 48, 0.3));
  background: -ms-linear-gradient(left, rgba(100, 190, 67, 0.3), rgba(72, 47, 48, 0.3));
  background: -o-linear-gradient(left, rgba(100, 190, 67, 0.3), rgba(72, 47, 48, 0.3));
}
.layer-overlay.overlay-theme-colored21-gradient-4::before {
  background: rgba(100, 190, 67, 0.4);
  background: -webkit-gradient(linear, left top, right top, from(rgba(100, 190, 67, 0.4)), to(rgba(72, 47, 48, 0.4)));
  background: -webkit-linear-gradient(left, rgba(100, 190, 67, 0.4), rgba(72, 47, 48, 0.4));
  background: -moz-linear-gradient(left, rgba(100, 190, 67, 0.4), rgba(72, 47, 48, 0.4));
  background: -ms-linear-gradient(left, rgba(100, 190, 67, 0.4), rgba(72, 47, 48, 0.4));
  background: -o-linear-gradient(left, rgba(100, 190, 67, 0.4), rgba(72, 47, 48, 0.4));
}
.layer-overlay.overlay-theme-colored21-gradient-5::before {
  background: rgba(100, 190, 67, 0.5);
  background: -webkit-gradient(linear, left top, right top, from(rgba(100, 190, 67, 0.5)), to(rgba(72, 47, 48, 0.5)));
  background: -webkit-linear-gradient(left, rgba(100, 190, 67, 0.5), rgba(72, 47, 48, 0.5));
  background: -moz-linear-gradient(left, rgba(100, 190, 67, 0.5), rgba(72, 47, 48, 0.5));
  background: -ms-linear-gradient(left, rgba(100, 190, 67, 0.5), rgba(72, 47, 48, 0.5));
  background: -o-linear-gradient(left, rgba(100, 190, 67, 0.5), rgba(72, 47, 48, 0.5));
}
.layer-overlay.overlay-theme-colored21-gradient-6::before {
  background: rgba(100, 190, 67, 0.6);
  background: -webkit-gradient(linear, left top, right top, from(rgba(100, 190, 67, 0.6)), to(rgba(72, 47, 48, 0.6)));
  background: -webkit-linear-gradient(left, rgba(100, 190, 67, 0.6), rgba(72, 47, 48, 0.6));
  background: -moz-linear-gradient(left, rgba(100, 190, 67, 0.6), rgba(72, 47, 48, 0.6));
  background: -ms-linear-gradient(left, rgba(100, 190, 67, 0.6), rgba(72, 47, 48, 0.6));
  background: -o-linear-gradient(left, rgba(100, 190, 67, 0.6), rgba(72, 47, 48, 0.6));
}
.layer-overlay.overlay-theme-colored21-gradient-7::before {
  background: rgba(100, 190, 67, 0.7);
  background: -webkit-gradient(linear, left top, right top, from(rgba(100, 190, 67, 0.7)), to(rgba(72, 47, 48, 0.7)));
  background: -webkit-linear-gradient(left, rgba(100, 190, 67, 0.7), rgba(72, 47, 48, 0.7));
  background: -moz-linear-gradient(left, rgba(100, 190, 67, 0.7), rgba(72, 47, 48, 0.7));
  background: -ms-linear-gradient(left, rgba(100, 190, 67, 0.7), rgba(72, 47, 48, 0.7));
  background: -o-linear-gradient(left, rgba(100, 190, 67, 0.7), rgba(72, 47, 48, 0.7));
}
.layer-overlay.overlay-theme-colored21-gradient-8::before {
  background: rgba(100, 190, 67, 0.8);
  background: -webkit-gradient(linear, left top, right top, from(rgba(100, 190, 67, 0.8)), to(rgba(72, 47, 48, 0.8)));
  background: -webkit-linear-gradient(left, rgba(100, 190, 67, 0.8), rgba(72, 47, 48, 0.8));
  background: -moz-linear-gradient(left, rgba(100, 190, 67, 0.8), rgba(72, 47, 48, 0.8));
  background: -ms-linear-gradient(left, rgba(100, 190, 67, 0.8), rgba(72, 47, 48, 0.8));
  background: -o-linear-gradient(left, rgba(100, 190, 67, 0.8), rgba(72, 47, 48, 0.8));
}
.layer-overlay.overlay-theme-colored21-gradient-9::before {
  background: rgba(100, 190, 67, 0.9);
  background: -webkit-gradient(linear, left top, right top, from(rgba(100, 190, 67, 0.9)), to(rgba(72, 47, 48, 0.9)));
  background: -webkit-linear-gradient(left, rgba(100, 190, 67, 0.9), rgba(72, 47, 48, 0.9));
  background: -moz-linear-gradient(left, rgba(100, 190, 67, 0.9), rgba(72, 47, 48, 0.9));
  background: -ms-linear-gradient(left, rgba(100, 190, 67, 0.9), rgba(72, 47, 48, 0.9));
  background: -o-linear-gradient(left, rgba(100, 190, 67, 0.9), rgba(72, 47, 48, 0.9));
}
